{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}Выбрать, сравнить цену, купить [{{ category.name }}] - www.pricerace.ru{% endblock title %}

{% block description %}{% if category.description %}{{ category.description|safe|truncatechars:150|striptags }}{% else %}В Категории {{ category.name }} вы найдёте большое каличество товаров, сравнивайте цену, читайте отзывы смотрите видео обзор и экономьте при покупке{% endif %}{% endblock description %}

{% block content %}
<!-- Breadcumb area Start -->
<div class="breadcumb-area section-padding bg--gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item px-1"><a href="{% url 'shop:home' %}">Главная</a></li>
                    {% for bc in breadcrumbs %}
                        <li class="breadcrumb-item dropdown"><a  href="{{ bc.get_absolute_url }}">{{ bc.name }}</a>
                              <a class=" dropdown-toggle mx-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              </a>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                {% for bc_siblings in bc.get_siblings %}
                                    <a class="dropdown-item" href="{{ bc_siblings.get_absolute_url }}">{{ bc_siblings.name }}</a>
                                {% endfor %}
                              </div>
                        </li>
                    {% endfor %}
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb area End -->
<!-- Main content wrapper Start -->
<div class="main-content-wrapper">
    <div class="shop-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2">
                    <!-- Sidebar Start -->
                    <aside class="sidebar shop-sidebar">
                        <div class="search-filter">
                            <div class="search-filter__single section-title section-title--3 mb--30">
                                <h2>Сортировка по фильтрам</h2>
                            </div>

                            <div class="search-filter__single search-filter__clear mb--30">
                                <a class="clear-btn" href="{{ category.get_absolute_url }}"><i class="fa fa-times"></i> Отчистить</a>
                            </div>

                            <!-- Category Search filter Start -->
                            <form action="." method="GET" id="filter_form">
                            <div class="search-filter__single search-filter__category mb--30">
                                <div class="section-title section-title--3">
                                    <h2>Бренды</h2>
                                </div>
                                <div class="input-group m-3">
                                    <input id="brand_list_input" type="text"  class="form-control" placeholder="Поиск бренда">
                                </div>
                                    <div class="sidebar-brand position-relative"  id="brand_liste">
                                        {{ filter_form.brand }}
                                    </div>
                            </div>

                            <!-- Category Search filter End -->

                            <!-- Price Search filter Start -->
                            <div class="search-filter__single search-filter__price mb--30">
                                <div class="section-title section-title--3">
                                    <h2>Цена</h2>
                                </div>
                                <div class="form-row align-items-center m-3">
                                <div class="col">
                                  {{ filter_form.min_price }}
                                </div>
                                <div class="col">
                                  {{ filter_form.max_price }}
                                </div>
                                  <button type="submit" class="btn btn-yellow w-100 mx-1" onclick="$('forma');"><i class="fas fa-search"></i></button>
                              </div>


                            </div>
                            <!-- Price Search filter End -->
                        </div>
                    </aside>
                    <!-- Sidebar End -->
                </div>
                <div class="col-lg-9 order-lg-2 order-1 mb-md--30">
                    <div class="shop-toolbar d-flex flex-md-row flex-column justify-content-between align-items-md-center">
                        <div class="shop-toolbar__shorter">
                            <label>Сортировать:</label>
                            {{ filter_form.ordering }}
                        </div>
                        </form>
                    </div>
                    <!-- Shop Layout Start -->
                    <div class="main-shop-wrapper">
                        <div class="product-grid-view">
                            <div class="row no-gutters">
                                {% for product in products_list %}
                                <div class="col-xl-3 col-md-6">
                                            <!-- Product Box Start -->
                                <a href="{{ product.get_absolute_url }}">
                                    <div class="product-box variable-product">
                                        <div class="product-box__image">
                                            <img src="{% if product.product_image_category %}{{ product.product_image_category.url }}{% else %}{% static 'images/zagluschka.png' %}{% endif %}" alt="{{ product.name }}" class="primary_image" height="160">
                                        </div>
                                        <div class="product-box__footer">
                                            <div class="product-box__desc">
                                                <p class="product-box__title">{{ product.name }}</p>
                                                <p class="product-box__price">
                                                    <p class="product-box__price">
                                                        <span class="sale-price">от {{ product.min_price }} &#8381;</span>
                                                    </p>
                                                </p>
                                            </div>
                                        </div>

                                    </div>

                                </a>
                                    <!-- Product Box End -->
                                </div>
                                {% empty %}
                                    <div>К сожалению по данным параметрам в категории {{ category.name }} товаров нет. </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Shop Layout End -->
                    <div class="product-pagintaion d-flex flex-column justify-content-between align-items-md-center">
                            <ul class="page-list">
                                <li class="prev"><a href=""><i class="fa fa-angle-left"></i> Previous</a></li>
                                <li class="current"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li class="next"><a href="">Next <i class="fa fa-angle-right"></i> </a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main content wrapper End -->
{% endblock content %}

