{% extends 'base.html' %}
{% load static %}

{% block title %}
    Купить [{{ product.name }}], сравнить цену - www.pricerace.ru
{% endblock title %}

{% block description %}{{ product.description|truncatechars:150|striptags }}{% endblock description %}


{% block content %}
<!-- Breadcumb area Start -->
<div class="breadcumb-area section-padding bg--gray">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item px-1"><a href="{% url 'shop:home' %}">Главная</a></li>
                    {% for bc in breadcrumbs %}
                        <li class="breadcrumb-item dropdown"><a  href="{{ bc.get_absolute_url }}">{{ bc.name }}</a>
                              <a class="dropdown-toggle mx-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              </a>
                              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                {% for bc_siblings in bc.get_siblings %}
                                    <a class="dropdown-item" href="{{ bc_siblings.get_absolute_url }}">{{ bc_siblings.name }}</a>
                                {% endfor %}
                              </div>
                        </li>
                    {% endfor %}
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb area End -->
<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
    <div class="single-products-area section-padding">
        <!-- Single Product Start -->
        <section class="single-product pb--40">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <!-- Tab Content Start -->
                        <div class="tab-content product-thumb-large" id="myTabContent-3">
                            <div class="tab-pane fade show active" id="product-large-one">
                                <div class="single-product__img">
                                    <img src="{% if product.product_image %}{{ product.product_image.url }}{% else %}{% static 'images/zaglushka_big.png' %}{% endif %}" alt="{{ product.name }}">
                                </div>
                            </div>
                        </div>
                        <!-- Tab Content End -->
                    </div>
                    <div class="col-lg-5">
                        <!-- Single Product Content Start -->
                        <div class="single-product__content">
                            <h1 class="single-product__name">{{ product.name }}</h1>
                            <p class="single-product__referance">Категория: <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a>
                                {% if product.category.short_description %}
                                    <i class="far fa-question-circle cat_short_description ml-2" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ product.category.short_description }}"></i>
                                {% endif %}
                            </p>
                            <p class="single-product__referance">Бренд: <a href="{{ product.vendor.get_absolute_url }}">{{ product.vendor.name|title }}</a></p>
                            <a class="single-product__review-btn" href="#reviews"><i class="fas fa-pencil-alt"></i> Оставить отзыв</a>
                        </div>
                        <!-- Single Product Content End -->
                    </div>
                    <div class="col-lg-3 cheapest-price d-none d-sm-block">
                        <!-- Tab Content Start -->
                        <div>
                            <h3>Самая низкая цена</h3>
                            {% for min_price_shop in product.prices.all|slice:":1" %}
                            <div class="single-product__price mt--20">
                                <span class="sale-price">{{ min_price_shop.price }} &#8381;</span>
                            </div>
                            <img src="{% if min_price_shop.shop.image_store %}{{ min_price_shop.shop.image_store.url }}{% endif %}" alt="{{ min_price_shop.name }} - Сравнить цену, характеристики, отзывы" class="primary_image" width="100">
                            <a href="{{ min_price_shop.url }}" target="_blank">
                                <div class="btn btn-style-1 btn-lg btn-block btn--fullwidth mt-3">В магазин
                                    <div class="to-shop float-right">
                                        <i class="fas fa-caret-right"></i>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                            <div class="mt--20" >
                                {% if min_max_price.max != min_max_price.min %}
                                <strong>Количество цен: {{ min_max_price.shops }} от {{ min_max_price.min }} &#8381; - {{ min_max_price.max }} &#8381;</strong>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Tab Content End -->

                    </div>
                </div>
            </div>
        </section>
        <!-- Tab Product End -->
        <section class="single-product my-4 bg--gray shadow-lg">
            <div class="container-fluid ">
                <ul class="nav nav-pills nav-fill py-5">
                  <li class="nav-item">
                    <a class="nav-link" href="#prices">Цены и магазины</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#characteristics">Характеристики</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#reviews">Отзывы</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#related_prod">Похожие товары</a>
                  </li>
                </ul>
            </div>
        </section>
        <!-- Tab End -->
        <!-- Price compare Start -->
        <section class="single-product mt--50">
        <div class="container-fluid ">
            <div class="section-title" id="prices">
                <h2>Цены</h2>
            </div>
            <ul class="list-group list-group-flush col-12 px-0 ">
                {% for price_list in product.prices.all %}
                  <li class="list-group-item px-0 py-5">
                      <div class="compare-price">
                          <div class="row align-items-center">
                              <div class="col-sm-12 col-lg-5 my-2">
                              <img src="{% if price_list.shop.image_store %}{{ price_list.shop.image_store.url }}{% endif %}" alt="{{ price_list.name }} - Сравнить цену, характеристики, отзывы" class="primary_image float-left pr-2" width="100">
                                  <p class="title-compare mb-0 font-weight-bolder">{{ price_list.name|truncatechars:60 }}</p>

                              </div>

                              <div class="col-sm-12 col-lg-1 my-2">
                                  {% if price_list.sales_notes %}
                                  <span class="info_icon_price">
                                      <i tabindex="0" class="fas fa-info-circle" data-container="body" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="{{ price_list.sales_notes }}"></i>
                                  </span>
                                  {% endif %}
                              </div>

                              <div class="col-sm-12 col-lg-3 my-2">
                                  <div class="single-product__price my-2 float-right">
                                      {% if price_list.oldprice %}
                                            <span class="regular-price">{{ price_list.oldprice }} &#8381;</span>
                                      {% endif %}
                                      <span class="sale-price">{{ price_list.price }} &#8381;</span>
                                  </div>
                              </div>
                              <div class="col-sm-12 col-lg-3">
                                <a href="{{ price_list.url }}" target="_blank">
                                    <div class="btn btn-style-1 btn-lg btn-block btn--fullwidth">
                                    В магазин
                                    <div class="to-shop float-right"><i class="fas fa-caret-right"></i></div>
                                    </div>
                                </a>
                              </div>
                          </div>
                      </div>
                  </li>
                {% endfor %}
                </ul>
        </div>
        </section>
        <!-- Price compare End -->

        <!-- Single Product Tab Start -->
        <section class="single-product-tab pt--30 pb--30" id="characteristics">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="single-product-tab__head nav nav-tab" id="singleProductTab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Характеристики</a>
                            <a class="nav-item nav-link" id="nav-desc-tab" data-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-desc" aria-selected="true">Описание</a>
                        </div>
                        <div class="single-product-tab__content tab-content">
                            <div class="tab-pane fade show active" role="tabpanel" id="nav-details" aria-labelledby="nav-details-tab">
                                <div class="product-details">
                                <div class="row">
                                    <div class="table-responsive my-3 mx-4 ">
                                        <table class="table table-bordered table-sm table-hover pro_tabl mb-0">
                                            <tbody>
                                                {% for i, j in product.param.items %}
                                                    <tr>
                                                        <td class="w-25">{{ i }}:</td>
                                                        <td>
                                                        {{ j.0 }}
                                                        {% if j.1 %}
                                                            {{ j.1 }}
                                                        {% endif %}
                                                        </td>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                                <div class="w-75">
                                    <p class="product-description">
                                        {{ product.description|safe }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Single Product Tab End -->

        <!-- Video Review -->
        {% if product.video %}
        <section class="single-product mt--50">
            <div class="container-fluid ">
                <div class="section-title" id="prices">
                    <h2>Видео обзор</h2>
                </div>
                <div class="embed-responsive embed-responsive-16by9 w-75">
                    <iframe class="embed-responsive-item" src="{{ product.video }}" allowfullscreen="" title="{{ product.name }}"></iframe>
                </div>
            </div>
        </section>
        {% endif %}
        <!-- End Video Review -->

        {% if semilar_products %}
        <!-- Related Product Area Start -->
        <section class="related-product pt--30" id="related_prod">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Похожие товары</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="related-product__carousel owl-carousel js-related-product">
                            <!-- Product Box Start -->
                            {% for semilar_pro in semilar_products %}
                            <div class="product-box variable-product">
                                <a href="{{ semilar_pro.get_absolute_url }}">
                                <div class="product-box__image">
                                    <img src="{% if semilar_pro.product_image_category %}{{ semilar_pro.product_image_category.url }}{% else %}{% static 'images/zagluschka.png' %}{% endif %}" alt="{{ semilar_pro.name }}" alt="{{ semilar_pro.name }}" class="primary_image" height="160">
                                </div>
                                <div class="product-box__footer">
                                    <div class="product-box__desc">
                                        <p class="product-box__title">{{ semilar_pro.name|truncatechars:60 }}</p>
                                        <p class="product-box__price">
                                            <span class="sale-price">от {{ semilar_pro.min_price }} &#8381;</span>
                                        </p>
                                    </div>
                                </div>
                                </a>
                            </div>
                            {% endfor %}
                            <!-- Product Box End -->
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Related Product Area End -->
        {% endif %}
        <!-- Reviews Tab Start -->
        <section class="single-product-tab pt--30 pb--30" id="reviews">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                          <div class="single-product-tab__head nav nav-tab" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                                {% with comments.count as total_comments %}Отзывы ({{ total_comments }}){% endwith %}
                            </a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Оставить отзыв</a>
                          </div>
                        <div class="single-product-tab__content tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <div class="blog-comments">
                              <ul class="comment-list">
                              {% for comment in comments %}
                                    <li class="border-bottom">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-2 my-2 border-right">
                                                <p class="author_name">{{ comment.name }}</p>
                                                <p class="created_comment">{{ comment.created|date:"d.m.Y" }}</p>
                                            </div>
                                            <div class="col-sm-12 col-lg-10 my-2">
                                            <p>{{ comment.body|linebreaks }}</p>
                                            <div>
                                                <p>Позитивные аспекты:</p>
                                                <p>{{ comment.positiv }}</p>
                                            </div>
                                            <div>
                                                <p>Негативные аспекты:</p>
                                                <p>{{ comment.positiv }}</p>
                                            </div>
                                            </div>
                                        </div>
                                    </li>
                              {% empty %}
                                <p>Отзывов пока нет. Станьте первым кто оставит отзыв.</p>
                              {% endfor %}
                              </ul>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                              <div class="form-comment">
                              <form action="." method="post" id="demo-form">
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-yellow" id="capcha_enable">Оставить отзыв</button>
                                <script type="application/javascript">
                                    document.getElementById("capcha_enable").disabled = true;
                                    function enableBtn(){
                                        document.getElementById("capcha_enable").disabled = false;
                                        }
                                </script>
                              </form>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Reviews Tab End -->
    </div>
</div>
<!-- Main Content Wrapper End -->
{% endblock content %}
