{% extends 'base.html' %}

{% block content %}
<!-- Populate Area Start -->
<section class="related-product pt--30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Популярные товары</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="related-product__carousel owl-carousel js-popular-product">
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress ddada dvasd aasdfasd asdga dgvada adasfa</p>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Populate Product Area End -->

<!-- Top Categories Area Start -->
<section class="related-product pt--50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Популярные категории</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="related-product__carousel owl-carousel js-popular-product">
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                    <!-- Product Box Start -->
                    <div class="product-box variable-product">
                    <a href="shop/single_product.html">
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">Printed Summer Dress</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    <!-- Product Box End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Categories Product Area End -->

<!-- Text Area Start -->
<div class="banner-box-area section-padding">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4 mb-sm--30">
                <div class="banner-box">
                    <h1>header 1</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner-box">
                    <h1>header 1</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner-box">
                    <h1>header 1</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Text Area End -->
{% endblock content %}