{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Populate Area Start -->
<section class="related-product pt--30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Популярные товары</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="related-product__carousel owl-carousel js-popular-product">
                    <!-- Product Box Start -->
                    {% for prod in list_pro %}
                    <div class="product-box variable-product">
                    <a href="{{ prod.get_absolute_url }}">
                        <div class="product-box__image">
                            <img src="{{ prod.product_image_grid.url }}" alt="{{ prod.name }} - Сравнить цену, характеристики, отзывы" class="primary_image" height="160">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title">{{ prod.name|truncatechars:60 }}</p>
                                <p class="product-box__price">
                                    <span class="sale-price">от {{ prod.min_price }} &#8381;</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    </div>
                    {% endfor %}
                    <!-- Product Box End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Populate Product Area End -->

<!-- Top Categories Area Start -->
<section class="related-product pt--50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Популярные категории</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="related-product__carousel owl-carousel js-popular-product">
                    <!-- Category Box Start -->
                    {% for cat in favorites_cat %}
                    <div class="product-box variable-product">
                    <a href="{{ cat.get_absolute_url }}">
                        <div class="product-box__image">
                            <img src="{% if cat.category_image %}{{ cat.category_image.url }}{% endif %}" alt="product image" class="primary_image" height="230">
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <p class="product-box__title font-weight-bolder">{{ cat.name }}</p>
                            </div>
                        </div>
                    </a>
                    </div>
                    {% endfor %}
                    <!-- Category Box End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Categories Product Area End -->

<!-- Text Area Start -->
<div class="banner-box-area section-padding">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-4 mb-sm--30">
                <div class="banner-box">
                    <h1>header 1</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner-box">
                    <h1>header 1</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="banner-box">
                    <h1>header 1</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Text Area End -->
{% endblock content %}